<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CodeTitans</h3>
            <p>
              Kalanki <br>
             Kathmandu<br>
              Nepal <br><br>
              <strong>Phone:</strong> +977-9806400774<br>
              <strong>Email:</strong> codetitans@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home_page' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_page' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact_page' %}">Contact</a></li>
            </ul>
          </div>
     <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>CureCircle</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="#">CodeTitans</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        
      </div>
    </div>
  </footer><!-- End Footer -->

  {% comment %} <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> {% endcomment %}
